* {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  ul,
  li {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  
  button {
    cursor: pointer;
  }
  
  body {
    margin: 0px;
    font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }


  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    // outline: 2px solid eorange;
    margin: 0px auto;
    @media screen and (min-width: 768px) {
      max-width: none;
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {
      width: 1200px;
    }
  }
  