<div  data-modal class="backdrop">
    <div class="modal">
        <button data-modal-close class="modal-btn-close">
            <svg class="icon-modal">
                <use href="/src/images/symbol-defs-modal.svg#icon-modal-close"></use>
              </svg>
            </button>
            <div class = "film-container">
                <!-- <div class="image-film-container">
                    <img class = "film-image" src="" alt="">
                </div>
                <div class="film-about-container">
                    <h2 class="film-title"></h2>

                    <table class="film-about-table">
                      <tr class="film-about-textrow">
                        <td>vote/votes</td>
                        <td id=""></td>
                      </tr>
                      <tr class="film-about-textrow">
                        <td>popularity</td>
                        <td id=""></td>
                      </tr>
                      <tr class="film-about-textrow">
                        <td>original title</td>
                        <td id=""></td>
                      </tr>
                      <tr class="film-about-textrow">
                        <td>genre</td>
                        <td id=""></td>
                      </tr>
                    </table>
                    <h3 class="title-about">About</h3>
                    <p id="" class="film-about-text"></p>
                    <ul class="film-btn-list">
                        <li class="film-btn-item">
                            <button id="addWatchedButton" class="film-add-button">Add to
                            watched</button>
                        </li>
                        <li class="film-btn-item">
                            <button id="addQueueButton" class="film-add-button">Add to
                            queue</button>
                        </li>
                        
                    </ul>
                </div> -->

            </div>
    </div>
</div>