<footer class="footer">
 <div class="footer-wra">
    
    <p class="footer-title"> <span class="footer-info">©  2020 | All Rights Reserved |</span>  <span class="footer-text" >Developed with <span><svg class="footer-icon">
        <use href="/src/images/symbol-love.svg#love"></use> 
    </svg></span> by <span class="footer-link"><a id="teamBtn" >GoIT Students</a></span></span>  
    
    
    </p>
        <div id="footerBtn" class="footer-modal">
            <div class="footer-content">

                <span class="footer-close">&times;</span>
        
              
                    <h2 class="team-caption">Наша команда</h2>
                    <ul class="team-list">
                      <li class="team-caption-list">
                        <div class="footter-wrapper"><img src="/src/images/team/max.png" alt="Максим Кучерявий"  height="260"></div>
                        <div class=" team-captiom-title">
                            <h3 class="team-title">Максим Кучерявий</h3>
                            <p class="team-desc">Team Leader</p>
                            <ul class="team-icon-list">
                               <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/symbol-defs.svg#icon-instagram"></use>
                                </svg></a>
                               </li>
                               <li class="team-icon">
                                <a href="https://github.com/MaximKucheriaviy" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/github.svg#icon-github"></use>
                                    </svg></a>
                           </li>
                               <li class="team-icon">
                                    <a href="" class="icon"><svg class="icon-social-network">
                                            <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                        </svg></a>
                               </li>
                                   <li class="team-icon">
                                        <a href="" class="icon"><svg class="icon-social-network">
                                                <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                            </svg></a>
                                   </li>
                                   
                            </ul>
                        </div>
                      </li>
                      <li class="team-caption-list">
                        <img src="/src/images/team/tanya.png" alt="Teтяна Сиянко" width="270" height="260">
                        <div class=" team-captiom-title">
                            <h3 class="team-title">Teтяна Сиянко</h3>
                            <p class="team-desc">Scrum Master</p>
                            <ul class="team-icon-list">
                               <li class="team-icon">
                                <a href="https://www.instagram.com/si._senora/" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                               </li>
                               <li class="team-icon">
                                <a href="https://github.com/SiTatyana" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/github.svg#icon-github"></use>
                                    </svg></a>
                           </li>
                               <li class="team-icon">
                                    <a href="https://www.facebook.com/tanya.labunets" class="icon"><svg class="icon-social-network">
                                            <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                        </svg></a>
                               </li>
                                   <li class="team-icon">
                                        <a href="" class="icon"><svg class="icon-social-network">
                                                <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                            </svg></a>
                                   </li>  
                    </ul>
                            
                            
                          
                </div>
                <li class="team-caption-list">
                    <img src="/src/images/team/3.png" alt="Олексiй Цахло"  height="260">
                    <div class=" team-captiom-title">
                        <h3 class="team-title">Олексiй Цахло</h3>
                        <p class="team-desc">Full Stack Developer</p>
                        <ul class="team-icon-list">
                           <li class="team-icon">
                            <a href="https://www.instagram.com/dyctu4ek" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                           </li>
                           <li class="team-icon">
                            <a href="https://github.com/Tsakhlo" class="icon"><svg class="icon-social-network">
                                <use href="/src/images/network/github.svg#icon-github"></use>
                                </svg></a>
                       </li>
                           <li class="team-icon">
                                <a href="https://www.facebook.com/profile.php?id=100004522489053" class="icon"><svg class="icon-social-network">
                                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                    </svg></a>
                           </li>
                               <li class="team-icon">
                                    <a href="" class="icon"><svg class="icon-social-network">
                                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                        </svg></a>
                               </li>  
                </ul>
                        
                        
                      
            </div>
            <li class="team-caption-list">
                <img class="team-img" src="/src/images/team/4.png" alt="Дмитро Гончаров" width="270" height="260">
                <div class=" team-captiom-title">
                    <h3 class="team-title">Дмитро Гончаров</h3>
                    <p class="team-desc">Full Stack Developer</p>
                    <ul class="team-icon-list">
                       <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                       </li>
                       <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/github.svg#icon-github"></use>
                            </svg></a>
                   </li>
                       <li class="team-icon">
                            <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                </svg></a>
                       </li>
                           <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                        <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                    </svg></a>
                           </li>  
            </ul>
                    
                    
                  
        </div>
        <li class="team-caption-list">
            <img class="team-img" src="/src/images/team/5.png" alt="Юрій Гриненко"  height="260">
            <div class=" team-captiom-title">
                <h3 class="team-title">Юрій Гриненко</h3>
                <p class="team-desc">Full Stack Developer</p>
                <ul class="team-icon-list">
                   <li class="team-icon">
                    <a href="https://www.instagram.com/grinya0101/" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                   </li>
                   <li class="team-icon">
                    <a href="https://github.com/grinya0101" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/github.svg#icon-github"></use>
                        </svg></a>
               </li>
                   <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network">
                                <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                            </svg></a>
                   </li>
                       <li class="team-icon">
                            <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                </svg></a>
                       </li>  
        </ul>
                
                
              
    </div>
    <li class="team-caption-list">
        <img class="team-img" src="/src/images/team/6.png" alt="Даниїл Солодкий" width="270" height="260">
        <div class=" team-captiom-title">
            <h3 class="team-title">Даниїл Солодкий</h3>
            <p class="team-desc">Full Stack Developer</p>
            <ul class="team-icon-list">
               <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
               </li>
               <li class="team-icon">
                <a href="https://github.com/Lavelian?tab=repositories" class="icon"><svg class="icon-social-network">
                    <use href="/src/images/network/github.svg#icon-github"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                        </svg></a>
               </li>
                   <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network">
                                <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                            </svg></a>
                   </li>  
    </ul>
            
            
          
</div>
<li class="team-caption-list">
    <img class="team-img" src="/src/images/team/7.png" alt="Дмитро Щегельский" width="270" height="260">
    <div class=" team-captiom-title">
        <h3 class="team-title">Дмитро Щегельский</h3>
        <p class="team-desc">Full Stack Developer</p>
        <ul class="team-icon-list">
           <li class="team-icon">
            <a href="https://www.instagram.com/dimmmas__/" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
           </li>
           <li class="team-icon">
            <a href="https://github.com/Prime-DS" class="icon"><svg class="icon-social-network">
                <use href="/src/images/network/github.svg#icon-github"></use>
                </svg></a>
       </li>
           <li class="team-icon">
                <a href="https://www.facebook.com/profile.php?id=100011297089389" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
               </li>  
</ul>
        
        
      
</div>
<li class="team-caption-list">
    <img class="team-img" src="/src/images/team/8.png" alt="Павло Павлів" width="270" height="260">
    <div class=" team-captiom-title">
        <h3 class="team-title">Павло Павлів</h3>
        <p class="team-desc">Full Stack Developer</p>
        <ul class="team-icon-list">
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
           </li>
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network">
                <use href="/src/images/network/github.svg#icon-github"></use>
                </svg></a>
       </li>
           <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
               </li>  
</ul>
        
        
      
</div>
<li class="team-caption-list">
    <img class="team-img" src="/src/images/team/9.png" alt="Дмитро Олійник" width="270" height="260">
    <div class=" team-captiom-title">
        <h3 class="team-title">Дмитро Олійник</h3>
        <p class="team-desc">Full Stack Developer</p>
        <ul class="team-icon-list">
           <li class="team-icon">
            <a href="https://www.instagram.com/oleynikdim/" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
           </li>
           <li class="team-icon">
            <a href="https://github.com/Dmitriyoley" class="icon"><svg class="icon-social-network">
                <use href="/src/images/network/github.svg#icon-github"></use>
                </svg></a>
       </li>
           <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
               </li>  
</ul>
        
        
      
</div>
        
        
        <script src="/src/js/modal-fooret.js"></script>
       
