<header class="header-library">
  <div class="header-container">
    <nav class="header-nav">
      <a href="./index.html"
        ><svg width="20" height="20" class="svg">
          <use href="/src/images/symbol-defs.svg#icon-film-logo"></use></svg
      ></a>
      <a class="logo link" href="./index.html">
        <h1 class="title">Filmoteka</h1>
      </a>

      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link link" href="./index.html">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link current" href="./my-library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <div class="wrapper-btn">
      <button type="button" class="btn-watched button-checced">WATCHED</button>
      <button type="button" class="btn-queue">QUEUE</button>
    </div>
  </div>
</header>
